<div class="edit">
  <form [formGroup]="registrationForm" name="editWhiskey">
    <h2> Register </h2>
    
    <div 
    class="form-group"  >
  
      <label for="firstName"> First Name </label>
      <input type="text" 
             class="form-control"     
             formControlName="firstName" 
              id="firstName"      
              required
             />
              <div *ngIf="formErrors.firstName" class="alert alert-danger">
              {{formErrors.firstName}}
    </div>
    </div>
    <div class="form-group has-danger"
   >
      <label for="lastName"> Last Name </label>
      <input type="text"
       class="form-control"
             id="lastName" 
             formControlName="lastName"
             required   
            placeholder="Enter Last Name">

          <div *ngIf="formErrors.lastName" class="alert alert-danger">
           {{formErrors.lastName}}
        </div>
    </div>
    <div class="form-group"
       >
      <label for="email"> Email </label>
      <input type="email" 
             class="form-control"   
             id="email"         
             formControlName="email" 
             required  
             placeholder="Enter Email">

          <div *ngIf="formErrors.email" class="alert alert-danger">
           {{formErrors.email}}
        </div>
    </div>
    <div class="form-group"
      >
      <label for="address"> Address </label>
      <input type="address" 
            class="form-control"       
             id="address"
             formControlName="address" 
            required 
           >
        <div *ngIf="formErrors.address" class="alert alert-danger">
           {{formErrors.address}}
        </div>      
    </div>
    <div class="form-group"
        >
      <label for="dob"> Date of Birth </label>
      <input type="date"
              class="form-control"     
              id="dob"   
             formControlName="dob" 
             required
             >
             <div *ngIf="formErrors.dob" class="alert alert-danger">
           {{formErrors.dob}}
        </div> 
    </div>
    <div class="form-group" >
      <label for="country"> Country </label>
      <select  class="form-control"
             type="text"
             id="country"
             formControlName="country"
             required 
        >
        <option value="1">
            Ireland
        </option>

         <option value="2">
            England
        </option>

         <option value="3">
            Wales
        </option>
    </select>
      <div *ngIf="formErrors.country" class="alert alert-danger">
           {{formErrors.country}}
        </div> 
    </div>

    
    <div class="form-group"
    >
      <label  for = "password"> Password </label>
        <input     
             type="password"
             class="form-control"    
             id="password"   
             formControlName="password"
             required
         />
   <div *ngIf="formErrors.password" class="alert alert-danger">
           {{formErrors.password}}
        </div> 
    </div>
    <button type="button" class="btn btn-primary" [disabled] = "registrationForm.invalid" (click)="submit()" >Submit </button>
  </form>
</div>
