<div class="edit">
  <form name="editTeamName">
    <h2> Register </h2>
    <div class="form-group">
      <label for="firstName"> First Name </label>
      <input type="text" class="form-control" name="firstName" id="firstName">
    </div>
    <div class="form-group">
      <label for="lastName"> Last Name </label>
      <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Enter First Name">
    </div>
    <div class="form-group">
      <label for="email"> Email </label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Enter First Name">
    </div>
    <div class="form-group">
      <label for="address"> Address </label>
      <input type="address" class="form-control" name="address" id="address">
    </div>
    <div class="form-group">
      <label for="dob"> Date of Birth </label>
      <input type="dob" class="form-control" name="dob" id="dob">
    </div>
    <div class="form-group">
      <label for="dob"> Country </label>
      <select class="form-control" name="dob" id="dob">
        <option value="1">
            Ireland
        </option>

         <option value="2">
            England
        </option>

         <option value="3">
            Wales
        </option>
    </select>
    </div>
    <button type="button" class="btn btn-primary">Submit </button>
  </form>
</div>
