<div [@moveIn] class="hero">
  
  <div class="banner-text">
    <h3> Contact us </h3>
    <h1>If you are looking for a high powered dashboard developed for your business use the contact information below. </h1>
    <span class="ion-ios-telephone">   
  
</span>
   <h2>0868911728</h2>
    
<span class="ion-email">   
  
</span>
    <h2 class="subtitle">dunnedev@jsdiaries.com. </h2>
    
   
    <p> Use this dashboard to store your favourite types of whiskeys. This is a high powered Angular application that allows
      you to transition through the dashboard seamlessly. </p>
  </div>
</div>
