//GENERAL STYLES
.right {
  float: right;
  p {
    float: right;
  }
}

.left {
  float: left;
}

.btn {
  background: transparent;
  border: solid 1px orange;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  &:active {
    background: #fb9146;
    span {
      background: white;
    }
  }
  span {
    display: block;
    width: 22px;
    height: 2px;
    background: orange;
    border-radius: 1px;
    margin: 5px;
  }
}

body {
  font-family: 'Raleway', sans-serif !important;
}

nav {
  display: flex;
  justify-content: space-between;
  @media (max-width: 800px) {
    display: block;
  }
}

.active {
  border-bottom: solid 1px #fb9146;
  padding-bottom: 5px;
}

.active-sm {
  background: #fb9146;
}

//GLOBAL COLOURS
.dark-bg {
  background-color: #303030;
}

.grey-bg {
  background-color: #4c4c4c;
}

.product-bg {
  background-color: #303030;
  height: 1300px;
  color: white;
  height: 1762px;
  p {
    color: white;
  }
  img {
    padding: 50px;
    top: 8%;
  }
}

//HEADER
.header {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 5px;
  font-size: 12px;
  @media (max-width: 700px) {
    ul {
      padding: 0;
    }
  }
  .nav-contact {
    float: left;
    font-family: 'Raleway', sans-serif;
    padding: 1.2em 0 1.4em 0;
    li: nth-child(1) {
      text-decoration: none;
      color: #ffffff;
      padding: 0 2em;
      font-weight: 800;
      font-size: 0.9em;
    }
    li:nth-child(3) {
      font-family: courier;
      font-size: 14px;
      color: orange;
    }
  }
  a.logo {
    text-decoration: none;
    color: #ffffff;
    padding-top: 0;
    font-weight: 800;
    font-size: 1em;
    font-family: 'Raleway', sans-serif !important;
    &:hover {
      color: #fb9146;
      cursor: pointer;
    }
  }
  nav {
    padding: 1.7em 0 1.4em 0;
    text-align: center;
  }
  ul {
    list-style: none;
    li {
      display: inline;
      color: white;
      @media (max-width: 800px) {
        display: block;
        border: 1px solid #fb9146;
        padding: 10px;
        margin: 10px 0px;
      }
      a {
        text-decoration: none;
        color: #ffffff;
        padding: 10px 2em;
        font-weight: 800;
        font-size: 0.9em;
        &:hover {
         
          cursor: pointer;
        }
      }
    }
  }
}

.header {
  .actions {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin: 20px 0;
    @media (max-width: 800px) {
      display: block;
    }
    .active {
      // padding: 0 0px;
      // margin-bottom: 5px;
      // margin-right: 15px;
    }
    li {
      display: block;
      margin-bottom: 5px;
      @media (max-width: 800px) {
        display: block;
        border: none;
        margin: 0;
      }
      a {
        padding-left: 0;
        @media (max-width: 800px) {
          border: none;
        }
      }
      span {
        font-size: 20px;
        vertical-align: middle;
        color: #fb9146;
      }
    }
  }
}
