<!--<router-outlet></router-outlet>-->
<div class="header col-lg-12 dark-bg">

  <ul class="nav-contact">
	   <!--<alert type="success">hello</alert>-->
    <!--<button class="btn btn-primary" (click)="lgModal.show()"><li>Login</li>	</button>	-->
	 <!--<button class="btn btn-primary" (click)="setWhiskeyName('jameson')">
		 <li>Login</li>	</button>	-->

  </ul>
<!--<button routerLink="/register" class="btn btn-primary" (click)="setWhiskeyName('jameson')">
		 Register	</button>	-->

  

  <div class="container" >
   
    <!--<input [(ngModel)]="whiskeyName" />
	<input [(ngModel)]="currentUser.username" />-->
    <nav>


      <ul class="nav-left">

        <li>

          <a [class.active] ="isActive('/products')" routerLink ="/products" href="features.html">Products</a>

        </li>

        <li>

          <a href="">Info</a>

        </li>

        <li style="list-style: none"></li>

      </ul><a class="logo" [class.active] ="isActive('/home')" routerLink ="/home" >Eposible</a>

      <ul class="nav-right">

        <li>

          <a href="">About</a>

        </li>

        <li>

          <a href="">Contact</a>

        </li>

      </ul>

    </nav>

  </div>
<ul class="actions">
  <li class="nav-item dropdown"  [class.active] ="isActive('/register')">
 <span class= "ion-log-in"> </span>
  <a routerLink="/register"  class="nav-link dropdown-toggle" data-toggle="dropdown">Register</a></li>
  <li> <span class= "ion-lock-combination"> </span> <a routerLink="/login"  class="nav-link dropdown-toggle" data-toggle="dropdown">Login</a></li>
  
</ul>
</div>

