.product-list {
  background: white;
  height: 500px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 800px) {
    height:auto;
    padding:40px 0;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .product {
    text-align: center;
    width: 32%;
    margin: 10px;
    @media (max-width: 800px) {
    margin: 10px auto;
    width:100%;
    }
    img {
      margin: 0 auto;
      width: 70px;
      height: auto;
      margin: 0 auto;
      width: 70px;
      height: auto;
      transition: all .2s ease-in-out;
      &:hover {
        transform: scale(1.3);
      }
    }
    h1 {
      font: 24px/24px 'Unica One', sans-serif;
      text-transform: uppercase;
      color: #c31;
      margin: 20px 20px 30px;
      @media (max-width:800px){
         margin: 10px auto;
      }
    }
    p {
      font: 16px/24px 'Vollkorn', serif;
      color: #333;
      text-align: justify;
      margin: 0 auto;
    }
    a {
      color: #c31;
      font-size: 20px;
    }
  }
}
