<div  class="description dark-bg">
  <div [@moveInLeft]="state"class="container container-pad">
    <div class="third ">
      <div class=" overlay">
        <div>
          <h1> Click here </h1>
        </div>
      </div>
      <a><img src="assets/whiskey-food.jpg">
        <div class="text-box grey-bg">
          <p>Sources</p>
        </div>
      </a>
    </div>
    <div class="third ">
      <div class="overlay">
        <div>
          <h1> Wholesale </h1>
        </div>
      </div>
      <a><img src="assets/whiskey-background.jpg">
        <div class="text-box grey-bg">
          <p>Brands</p>
        </div>
      </a>
    </div>
    <div class="third ">
      <div class="overlay">
        <div>
          <h1> Click here </h1>
        </div>
      </div>
      <a><img src="/assets/whiskey-closeup.jpg">
        <div class="text-box grey-bg">
          <p>Wholesale</p>
        </div>
      </a>
    </div>
    <div class="captions"></div>
  </div>
  <div [@moveIn] class="hero">
    <div class="banner-text">
      <h1>Fast and lightweight this dashboard puts your business above other static websites.</h1>
      <h2 class="subtitle">Interactive and animated, its presentation will provide your users with a pleasant browsing experience.
      </h2>
      <p>A fast and sleek dashboard to show off your whiskey collection or other products.</p>
    </div>
  </div>
  <div class="items col-lg-12 dark-bg">
    <div class="item">
      <span></span>
    </div>
    <div class="item">
      <span></span>
    </div>
    <div class="item">
      <span></span>
    </div>
  </div>
</div>
