form {
  width: 35%;
  display: inline-block;
  h2 {
    font-weight: 400;
    text-transform: none;
    margin-bottom: 20px;
    font: 36px/24px 'Unica One', sans-serif;
    text-transform: uppercase;
    color: #c31;
  }
  label {
    font-weight: 400;
    text-transform: none;
    font: 21px 'Unica One', sans-serif;
    color: #c31;
  }
  input {
    font-weight: 400;
    text-transform: none;
    font: 17px 'Unica One';
  }
  .btn-primary {
    background-color: #c31;
    border-color: #c31;
    font: 19px 'Unica One', sans-serif;
    text-transform: uppercase;
  }
}
